<paper-menu id="sideMenuMaster">
<paper-item>
<!-- <paper-icon-button icon="search"></paper-icon-button> -->
  <paper-input-container id="searchMenu" always-float-label>
    <label>Search...</label>
    <input type="text" name="search">
  </paper-input-container>
</paper-item>

  <paper-submenu>
    <paper-item class="menu-trigger">Projects</paper-item>
    <!--
    <paper-menu class="menu-content">

    <paper-submenu>
      <paper-item class="menu-trigger">Causes</paper-item>
      <paper-menu class="menu-content">
      {% set causes = ['Open source', 'Non-profit', 'Education', 'Research'] %}
      {% for cause in causes %}
        <paper-item class="menu-item">{{ cause }}</paper-item>
      {% endfor %}
      </paper-menu>
    </paper-submenu>

    <paper-submenu>
      <paper-item class="menu-trigger">Work</paper-item>
      <paper-menu class="menu-content">
      {% set works = ['Web Development', 'Graphcs & Design', 'Databases', 'Testing', 'Tutoring'] %}
      {% for work in works %}
        <paper-item class="menu-item">{{ work }}</paper-item>
      {% endfor %}
      </paper-menu>
    </paper-submenu>

    <paper-submenu>
      <paper-item class="menu-trigger">Languages</paper-item>
      <paper-menu class="menu-content">
      {% set languages = ['Python', 'Javascript', 'Elm', 'Erlang', 'HTML & CSS', 'Rusthon'] %}
      {% for language in languages %}
        <paper-item class="menu-item">{{ language }}</paper-item>
      {% endfor %}
      </paper-menu>
    </paper-submenu>

    <paper-submenu>
      <paper-item class="menu-trigger">Tags</paper-item>
      <paper-menu class="menu-content">

       Search all tags, list with for loop 

      </paper-menu>
    </paper-submenu>

    <paper-submenu>
      <paper-item class="menu-trigger">Activity</paper-item>
      <paper-menu class="menu-content">
      {% set activities = ['Proposed', 'Active', 'Archived'] %}
      {% for activity in activities %}
        <paper-item class="menu-item">{{ activity }}</paper-item>
      {% endfor %}
      </paper-menu>
    </paper-submenu>
    -->

  </paper-submenu>

  <paper-submenu>
    <paper-item class="menu-trigger">Channels</paper-item>

    <!--
    <paper-menu class="menu-content">

    <paper-submenu>
      <paper-item class="menu-trigger">Sorted by</paper-item>
      <paper-menu class="menu-content">
      {% set channel_views = ['Anouncements', 'Invitations', 'Suggestions', 'Happy thoughts'] %}
      {% for channel_view in channel_views %}
        <paper-item class="menu-item">{{ channel_view }}</paper-item>
      {% endfor %}
      </paper-menu>
    </paper-submenu>

    <paper-submenu>
      <paper-item class="menu-trigger">Chanel tags</paper-item>
      <paper-menu class="menu-content">

       Search all tags, list with for loop 

      </paper-menu>
    </paper-submenu>
    -->

  </paper-submenu>

  <paper-submenu>
    <paper-item class="menu-trigger">Teams</paper-item>

    <!--

    <paper-menu class="menu-content">

    <paper-submenu>
      <paper-item class="menu-trigger">Shared interests</paper-item>
      <paper-menu class="menu-content">

       Search all interest tags, list with for loop 

      </paper-menu>
    </paper-submenu>

    <paper-submenu>
      <paper-item class="menu-trigger">Sorted by</paper-item>
      <paper-menu class="menu-content">
      {% set team_views = ['Members', 'Date created', 'Collective karma'] %}
      {% for team_view in views %}
        <paper-item class="menu-item">{{ team_view }}</paper-item>
      {% endfor %}
      </paper-menu>
    </paper-submenu>

    -->

  </paper-submenu>

  <paper-submenu>
    <paper-item class="menu-trigger">About</paper-item>

    <!--


    <paper-menu class="menu-content">

    <paper-submenu>
      <paper-item class="menu-trigger">Interests</paper-item>
      <paper-menu class="menu-content">

      </paper-menu>
    </paper-submenu>

    <paper-submenu>
      <paper-item class="menu-trigger">Sorted by</paper-item>
      <paper-menu class="menu-content">
      {% set people_views = ['Recent joins', 'Username', 'Karma points'] %}
      {% for people_view in people_views %}
        <paper-item class="menu-item">{{ people_view }}</paper-item>
      {% endfor %}
      </paper-menu>
    </paper-submenu>
    -->

  </paper-submenu>


</paper-menu>



<!--
  <paper-submenu disabled>
    <paper-item class="menu-trigger">Unavailable</paper-item>
    <paper-menu class="menu-content">
      <paper-item class="menu-item">Disabled 1</paper-item>
      <paper-item class="menu-item">Disabled 2</paper-item>
    </paper-menu>
  </paper-submenu>
-->

<!-- 
<paper-listbox>

  <paper-item class="menu-item">
    <paper-icon-button icon="unfold-more"></paper-icon-button>
    <paper-item class="sideMenuItems">Categories</paper-item>
  </paper-item>

  <paper-item class="menu-item">
    <paper-icon-button icon="unfold-more"></paper-icon-button>
    <paper-item class="sideMenuItems">Tags</paper-item>
  </paper-item>

</paper-listbox>
-->


  <!-- search
  <paper-item class="menu-item">
    <paper-input-container id="searchMenu" always-float-label>
      <label>Search...</label>
      <input type="text" name="username">
    </paper-input-container>
    <paper-icon-button icon="search"></paper-icon-button>
  </paper-item>
  -->


  <!-- <paper-item class="sideMenuItems">Subcategories</paper-item> -->

  <!--
  <paper-item class="sideMenuItems">Activity</paper-item>
  -->

  <!--
  <paper-item class="sideMenuItems">Help people & earn karma</paper-item>
  <paper-item class="sideMenuItems">Get help from kind people</paper-item>
  -->

  <!-- move to landing page and put at bottom
  <paper-item class="sideMenuItems">The karma community</paper-item>
  <paper-item class="sideMenuItems">Thoughts on well-being</paper-item>
  <paper-item class="sideMenuItems">How it works</paper-item>
  <paper-item class="sideMenuItems">About</paper-item>
  <paper-item class="sideMenuItems">Contributing</paper-item>
  -->
